<%- include('../partials/header') %>

<section class="container">
    <div class="card">
        <div class="card-body" id="show-page">
            <div>Name:</div>
            <div><%= food.name %></div>
            <div>Quantity: </div>
            <div><%= food.quantity %></div>
            <div>Expiry Date: </div>
            <div><%= food.expiryDate %></div>
        </div>
        <div class="d-grid gap-4 d-md-flex justify-content-md-end">
            <form action="/foods/<%= food._id %>/edit">
                <button type="submit" class="btn btn-warning">Edit Food</button>
            </form><br>
            <form action="/foods/<%= food._id %>?_method=DELETE" class="delete-form" method="POST">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form><br><br>
        </div>
        <div class="col-auto row g-5" id="comments">
        <form action="/foods/<%= food._id %>/comments" method="POST" class="col-auto col-form-label col-form-label-lg" align="center">
            <label>Comment:
                <input type="text" name="content">
            </label>
            <label>Rating:
                <select name="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>    
            </label>
            <button type="submit" class="btn btn-success btn-sm">Add Comment</button>
        </form>
        </div>
        <% if (food.comments.length) { %>
        <table>
            <thead>
                <tr>
                    <td>Date</td>
                    <td>Comment</td>
                    <td>Rating</td>
                </tr>
            </thead>
            <tbody>
                <% food.comments.forEach(function(c) { %>    
                    <tr>
                        <td><%= c.createdAt.toLocaleDateString() %></td>
                        <td><%= c.content %></td>
                        <td><%= c.rating %></td>
                        <td>
                            <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                                <button type="submit" class="btn-x">X</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <% } else { %>
            <h5>No Comments Yet</h5>
        <% } %>
    </div>
</section>

<%- include('../partials/footer') %>